doctype html
html
    head
        title= MyAPP
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(type='text/javascript' src='/javascripts/modules/jQuery/jquery.min.js')