
extends registration_layout

block content
    div(class='container')
        h3#title Create new Account
        form(class='col s12' action='#')
            div(class='account-info')
                h4#blocTitle New Account

                div(class='input-field col s6')
                    i(class='material-icons prefix') person_pin
                    input#inputUserName(type='text' class='validate' length='20')
                    label(for='inputUserName' data-error='Error' data-success='') UserName

                div(class='input-field col s6')
                    i(class='material-icons prefix') email
                    input#inputUserMail(type='email' class='validate')
                    label(for='inputUserMail' data-error='wrong' data-success='right') Mail
                    
                a#verifyMail(class='waves-effect waves-light btn')
                    i(class='material-icons right') send
                    |Verify

            a#registerUser(class='waves-effect waves-light btn')
                i(class='material-icons right') send
                |Register
        form#info(class='col s12' action='#')
            div(class='registration-info')
                h4#licence Read this
                p La GPL met en œuvre la notion de copyleft, un jeu de mots anglais faisant référence à la notion de copyright (right en anglais signifie à la fois le droit, c'est-à-dire la règle juridique, et la droite, qui marque une direction) que l'on peut transposer en français en parlant de « Gauche d'auteur » par référence au Droit d'auteur. Pour autant le copyleft n'est pas l'antithèse du copyright, au contraire, puisque le premier s'appuie sur le second. Ainsi le copyleft comme le copyright définissent et encadrent les droits des utilisateurs de façon contraignante. Le mécanisme est identique, mais les objectifs diffèrent : le copyright garantit exclusivement les droits de l'auteur, le copyleft s'attarde tout particulièrement aux droits des utilisateurs, et vise à préserver la liberté d'utiliser, d'étudier, de modifier et de diffuser le logiciel et ses versions dérivée.
                h4#Advertissement Other links
                p En 1990, il était devenu évident qu'une licence moins restrictive serait utile pour quelques bibliothèques logicielles. Ainsi, quand la version 2 de la GPL apparut en juin 1991, une nouvelle licence fut créée, la GNU Library General Public License (abrégé GNU LGPL ou LGPL) prenant elle aussi la version 2 pour marquer leur lien de parenté. Les numéros de versions sont devenus différents en 1999 quand la version 2.1 de LGPL est arrivée. La LGPL a changé de nom en même temps afin de mieux réflèter sa place par rapport à l'esprit GNU : elle s'appelle désormais la GNU Lesser General Public License (toujours abrégé GNU LGPL ou LGPL).
            