#shadowing {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #49484D;
    z-index: 1000;
    opacity: 0.95;
    filter: alpha(opacity=50);
}
#box {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 1100px;
    height: 500px;
    padding: 48px;
    margin: 0;
    border: 1px solid black;
    background-color: white;
    z-index: 999999;
    overflow: hidden;
}
#infoBox {
    margin-left: 34%;
    width: 650px;
}
#boxtitle {
    position: absolute;
    float: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    padding: 0;
    padding-top: 4px;
    padding-left: 8px;
    margin: 0;
    border-bottom: 4px solid #3CF;
    background-color: #09c;
    color: white;
    text-align: center;
}