doctype html
html
    head
        title= MyAPP
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(type='text/css' rel='stylesheet' href='/stylesheets/materialize.min.css'  media='screen,projection')
        link(type='text/css' rel='stylesheet' href='/javascripts/modules/materialize/materialize-fonts.css'  media='screen,projection')
        link(rel='stylesheet', href='/stylesheets/material.css')
        link(rel='stylesheet', href='/stylesheets/register/detail.css')
    body
        block content
        script(type='text/javascript' src='/javascripts/modules/jQuery/jquery.min.js')
        script(type='text/javascript' src='/javascripts/modules/materialize/materialize.min.js')
        script(type='text/javascript' src='/javascripts/material.js')
        script(type='text/javascript' src='/javascripts/register/user.js') /// REGISTRATION
        
